/* General Styles */
* {
    box-sizing: border-box;
}

.border-black {
    border: 1px solid black;
}

/* [START] General: content Positioning =========================================================================================*/
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-justify {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 60px;
}

.text-center {
    text-align: center;
}
/* [END] General: content Positioning =========================================================================================*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* [START] General: Fonts ===============================================================================================================*/
.adjust-font-to-half-container-size {
    font-size: clamp(8px, 2.5vw, 12px);
    margin: 0;
}
/* [END] General: Fonts ===============================================================================================================*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*[START] General: Buttons ====================================================================================================*/
.button-style {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Verdana;
}

.button-style:hover {
    background: #73BAE8;
}
/*[END] General: Buttons ====================================================================================================*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* [START] General: Header (Title bar on all pages) ======================================================================================= */
.header {
    display: flex;
    align-items: center;
    padding: 2.5px 15px;
    background-color: #00274C;
    border-bottom: 1px solid;
    position: relative;
}

.header-title {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans';
    color: white;
    font-size: 2em;
}

.back-button, .setting-icon {
    cursor: pointer;
    color: #73BAE8;
}

.back-button:hover, .setting-icon:hover {
    color: #fff;
}

.back-button {
    font-size: 40px;
}

.setting-icon {
    font-size: 35px;
}
/* [END] General: Header (Title bar on all pages) ======================================================================================= */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* [START] General: Navbar ========================================================================================================================================*/
.navbar-container {
    display: flex;
}

.navbar {
    width: 200px;
    height: 100vh;
    background: #001f3f;
    border: #00274C;
    border-width: 2px;
    transition: width 0.3s;
    padding: 10px;
    color: white;
    overflow: hidden;
}
.full-page-layout {
    display: flex;
    height: 100vh;
  }
  
  
  .main-content {
    margin: 0px;
    padding: 0px;
    flex-grow: 1;
    overflow-y: auto;
  }

.navbar.collapsed {
    width: 50px;
    padding: 5px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    font: 1.5em;
}

.navbar a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar.collapsed a span {
    display: none;
}
/* [END] General: Navbar ========================================================================================================================================*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* [START] General: Components ========================================================================================================*/
.scrollable {
    overflow-y: auto;
    background-color: #D9D9D9;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px 15px 15px 15px;
    padding: 20px;
    border: 1px solid #d1d5db;
}
/* [END] General: Components =======================================================================================================================*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* [START] Selection Page ================================================================================================================================ */
.search-container {
    position: relative;
    display: inline-block;
    width: 400px;
}

.search {
    width: 100%;
    padding: 0.5rem;
    font-size: 16px;
    border: 1px solid #bcb9b9;
    border-radius: 10px;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 0.5rem;
    z-index: 1000;
    list-style: none;
    padding: 0;
}

.dropdown-item {
    padding: 0.5rem;
    cursor: pointer;
    text-align: left;
}

.dropdown-item:hover {
    background: #e3e3e3;
}

.dropdown-item.active {
    background-color: #007bff;
    color: white;
    outline: none;
  }
/* [END] Selection Page ================================================================================================================================ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* [START] Degree Progress Page ========================================================================================================================= */
.student-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.student-details, .degree-details {
    text-align: left;
    flex: 1;
}

.degree-details h3 {
    margin-left: 2.5px;
    margin-top: 3.5px;
    margin-bottom: 2px;
    font-family: Verdana;
    font-size: 3em;
}

.major, .minor {
    display: flex;
    justify-content: space-between;
    background-color: rgb(233, 231, 231);
    padding: 10px;
    border-radius: 6px;
    margin-left: 3px;
    margin-right: 40px;
    margin-bottom: 1.5px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.425);
    font-size: 1.5em;
}

.credit-report, .summary-report {
    @extend .button-style;
    background: #0C598E;
    color: white;
    padding: 6px 14px;
}

.summary-report {
    margin-top: 3.5px;
    margin-bottom: 5px;
    margin-left: 125px;
    padding: 16px;
    background: #00274C;
}

.summary-report:hover {
    background: #3D85BB;
}
/* [END] Degree Progress Page ========================================================================================================================= */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* [START] Degree Info Page ======================================================================================================================= */
.scrollable-box {
    width: 880px;
    height: 66vh;
    overflow-y: auto;
    background-color: #D9D9D9;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px 15px 15px 15px;
    padding: 20px;
    border: 1px solid #d1d5db;
}

.box-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.boxbutton {
    height: 250px;
    width: 250px;
    background: #77B5E6;
    color: #ffffff;
    border: 2px solid #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: top;
    font-size: 2.5em;
}



.requirement-progress { /*graph container*/
    display: flex;

}

/* [END] Degree Info Page ============================================================================================================================== */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* [START] Elective Requirements Page ======================================================================================================================= */
.course-info{
    border: solid 1px #000000;
    border-radius: 25px;
    margin: 10px;
    background: #fff;
}
.course-info h2{
    padding: 0 4px;
    margin: 2px;
}
.course-info p{
    padding: 0 4px 2em 4px;
    margin: 2px;
}
.course-info .wishlist-button{
    margin: 4px 4px;
    background-color: #0C598E;
    color: white;
    margin-left: 80%;
}