.elective-requirments{
    margin: auto;
    background: fixed;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    background-color: #00274C;
    border-bottom: 1px solid;
    position: relative;
}

.back-button {
    font-size: 40px;
    cursor: pointer;
    color: #73BAE8;
}

.back-button:hover {
    color: #fff;
}

.header-title{
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans';
    color: white;
    font-size: 3cap;
}

.setting-icon {
    font-size: 35px;
    cursor: pointer;
    color: #73BAE8;
}

.setting-icon:hover {
    color: #fff;
}