.home {
    background-color: white;
    text-align: center;
}

.settings-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer; /* Change cursor to pointer for interactivity */
    color: #333; /* Icon color */
}
  
.settings-icon:hover {
    color: #007BFF; /* Add a hover effect (optional) */
}  

.title{
    font-family: Verdana;
    font-size: 3cap;
    color: #00274C;
    margin: auto;
    margin-bottom: 1.5em;
}
  
.logo-container img {
    max-width: 300px;
    margin-bottom: 5rem;
    margin-top: 2rem;
    width: 100%;
    height: auto;

}
  
.search-container {
    position: relative;
    display: inline-block;
    width: 400px;
}
  
.search {
    width: 100%;
    padding: 0.5rem;
    font-size: 16px;
    border: 1px solid #bcb9b9;
    border-radius: 10px;
}
  
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 0.5rem;
    z-index: 1000;
    list-style: none;
    padding: 0;
}
  
.dropdown-item {
    padding: 0.5rem;
    cursor: pointer;
    text-align: left;
}
  
.dropdown-item:hover {
    background: #e3e3e3;
}
  